---
import SocialIcon from "@components/icons/SocialIcon.astro";
---

<footer class="mt-12 mb-2 w-full flex flex-col items-center justify-center text-center">
    <div class="grid grid-flow-col gap-4 justify-center auto-cols-max">      
        <SocialIcon name="Github" href="https://github.com/dalecostadev" icon="mdi:github" />
        <SocialIcon name="Linkedin" href="https://www.linkedin.com/in/nicol%C3%B2-costantini-a52602181" icon="mdi:linkedin" />
        <SocialIcon name="Youtube" href="https://www.youtube.com/@dalecostadev" icon="mdi:youtube" />
        <SocialIcon name="Instagram" href="https://www.instagram.com/dalecostadev" icon="mdi:instagram" />
        <a href="https://www.tiktok.com/@dalecostadev" class="mt-2 md:mt-0">
            <img src="/social/tiktok.png" alt="TikTok" class="filter brightness-125 w-6 h-6 md:w-7 md:h-7" />
        </a>
        <SocialIcon name="Email" href="mailto:dalecostadev@protonmail.com" icon="mdi:email" />
    </div>
    <a class="text-lg text-blue-600 dark:text-blue-300 transition duration-300 ease-in-out transform hover:text-blue-700 dark:hover:text-blue-400 mt-2" href="https://github.com/dalecostadev/dalecosta-website.git" rel="noopener noreferrer" target="_blank">Source Code</a>
</footer>

