---
import SkillCard from '@components/cards/SkillCard.astro';
---

<h3 class="font-medium mt-12">Skills</h3>
<div class="mb-4">
    <p>Discover the suite of tools, languages, frameworks, and libraries I've embraced to sculpt my edge in software engineering.</p>
    <p>Particularly within the realms of Backend, Cloud and DevOps.</p>
</div>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    <SkillCard name="Gitlab" icon="logos:gitlab" />
    <SkillCard name="Jira" icon="logos:jira" />
    <SkillCard name="Git" icon="logos:git-icon" />
    <SkillCard name="NPM" icon="logos:npm" />

    <SkillCard name="NodeJS" icon="logos:nodejs-icon" />
    <SkillCard name="React" icon="logos:react" />
    <SkillCard name="Astro" icon="logos:astro-icon" />
    <SkillCard name="Tailwind CSS" icon="logos:tailwindcss-icon" />

    <SkillCard name="Javascript" icon="logos:javascript" />
    <SkillCard name="Typescript" icon="logos:typescript-icon" />
    <SkillCard name=".NET" icon="logos:dotnet" />
    <SkillCard name="Python" icon="logos:python" />

    <SkillCard name="Go" icon="logos:go" />
    <SkillCard name="Bash" icon="logos:bash-icon" />
    <SkillCard name="Azure" icon="logos:azure-icon" />
    <SkillCard name="AWS" icon="logos:aws" />

    <SkillCard name="Kubernetes" icon="logos:kubernetes" />
    <SkillCard name="Docker" icon="logos:docker-icon" />
    <SkillCard name="Rancher" icon="logos:rancher-icon" />
    <SkillCard name="Prometheus" icon="logos:prometheus" />

    <SkillCard name="Grafana" icon="logos:grafana" />
    <SkillCard name="ArgoCD" icon="logos:argo-icon" /> 
    <SkillCard name="Helm" icon="logos:helm" />
    <SkillCard name="Jenkins" icon="logos:jenkins" />

    <SkillCard name="Pipeline CI/CD" icon="logos:github-actions" />
    <SkillCard name="Terraform" icon="logos:terraform-icon" />
    <SkillCard name="Ansible" icon="logos:ansible" /> 
    <SkillCard name="Kafka" icon="logos:kafka-icon" /> 

    <SkillCard name="Nginx" icon="logos:nginx" />
    <SkillCard name="MySQL" icon="logos:mysql-icon" />
    <SkillCard name="MongoDB" icon="logos:mongodb-icon" />
    <SkillCard name="Redis" icon="logos:redis" />
</div>
